<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Careerativity helps you manage your career, develop new skills, build relationships, track accomplishments, and much more.">

    <title><%= content_for(:title) || build_title %></title>

    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png?v=v2">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png?v=v2">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png?v=v2">
    <link rel="manifest" href="/site.webmanifest?v=v2">
    <link rel="mask-icon" href="/safari-pinned-tab.svg?v=v2" color="#045fd6">
    <link rel="shortcut icon" href="/favicon.ico?v=v2">
    <meta name="msapplication-TileColor" content="#045fd6">
    <meta name="msapplication-TileImage" content="/mstile-144x144.png?v=v2">
    <meta name="theme-color" content="#045fd6">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link href="https://fonts.googleapis.com/css?family=Poppins:400,700|Raleway:400,700" rel="stylesheet" />

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_include_tag 'application', defer: true %>
  </head>

  <body>

    <noscript>
      <div style="background-color: rgba(189, 0, 20, 0.16); color: #bd0014; margin-bottom: 4rem; padding: 1rem; text-align: center; vertical-align: middle; width: 100vw">
        Please enable JavaScript to use this web site.
      </div>
    </noscript>

    <%= yield %>

  </body>

</html>
